.layoutWrapper {
  background-color: #171b26;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hamburgerBtn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #394254;

  &.open {
    color: #fafafa;
  }
}

.drawer {
  position: fixed;
  top: 0;
  left: -20vw;
  width: 280px;
  height: 100%;
  padding: 60px 16px;
  background: #f7f7f8;
  transition: left 0.4s ease-in-out;
  z-index: 1000;
  box-sizing: border-box;
  overflow-y: auto;

  &.open {
    left: 0;
  }
}

.searchBar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 900;
}

.drawerBlock {
  height: 80px;
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background: #ececec;
  border: 1px solid #6b7280;
  border-radius: 4px;
  user-select: none;
  z-index: 1200;
  cursor: pointer;
  color: #6b7073;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-3px);
    transition: transform 0.2s ease;
  }
}

.drawerText {
  font-size: 14px;
  font-weight: 500;
}

.drawerDate {
  font-size: 12px;
  color: #9ca3af;
  margin-top: 4px;
}
